<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bna_logo_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bna_logo_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moodle"
        tools:targetApi="31">
        <activity
            android:name=".Form.ReturnBooks"
            android:exported="false" />
        <activity
            android:name=".Form.RenewBooks"
            android:exported="false" />
        <activity
            android:name=".Form.BorrowBooks"
            android:exported="false" />
        <activity
            android:name=".Form.FormBooks"
            android:exported="false" />
        <activity
            android:name=".NavBottom.AccountFragmentInsider.BorrowDetails"
            android:exported="false" />
        <activity
            android:name=".NavBottom.AccountFragmentInsider.RecommendBook"
            android:exported="false" />
        <activity
            android:name=".NavBottom.AccountFragmentInsider.RecommendBook"
            android:exported="false" />
        <activity
            android:name=".mainHome.ActivityHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Sidebar.NavGrade.NavGradesFragment"
            android:exported="false" />
        <activity
            android:name=".SignInUp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInUp.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".mainHome.FragmentHomeActivity"
            android:exported="true" />
        <activity
            android:name=".NavBottom.AccountFragmentInsider.RecommendBook"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>